body {
    font-family: Arial, sans-serif;
    margin-left: 5%;
    padding-left: 5%;
    margin-right: 5%;
    padding-right: 5%;
    margin-top: 4%;
    background-color: #021526;
    color: #E2E2B6;
}
