<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Climbing Tracker{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/base.css">
        {% block extra_css %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    <body class="navbar-styled">
        <nav class="navbar">
                <div>
                    <div class="home-button">
                        <a href="/" title="Home">
                            <img src="/static/icons/home.svg" alt="Home" class="nav-icon">
                        </a>
                    </div>
                    <!-- <div class="creator-link">
                        <a href="https://hariviggy.com" title="Portfolio"> Portfolio </a>
                    </div> -->
                </div>
                <div class="nav-links">
                    {% if request.session.get('user_id') %}
                        <a href="/user/my_tracker" title="Dashboard">
                            <img src="/static/icons/dashboard.svg" alt="Dashboard" class="nav-icon">
                        </a>
                        <a href="/auth/logout" title="Logout">
                            <img src="/static/icons/logout.svg" alt="Logout" class="nav-icon">
                        </a>
                    {% else %}
                        <a href="/auth/google/login">Login</a>
                    {% endif %}
                </div>

            </nav>
            <main>
                <!-- Loading overlay -->
                {% block content %}{% endblock %}
                
            </main>
            {% block extra_scripts %}{% endblock %}
            <div id="loading-overlay" class="loading-overlay hidden">
                <div class="loading-content">
                    <img src="/static/icons/loading.svg" alt="Loading..." class="loading-svg">
                    <p>Loading...</p>
                </div>
            </div>
        </body>
</html>