{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🧗 Climbing Tracker</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body class="body">
     <div>
        <h1>Welcome to My Climbing Tracker App</h1>
    </div>
    
    <div>
        <div>
            <h2>Welcome</h2>
            <div>
                <p>This site is used to track your climbs. You can add new climbs and view your climbing history.</p>
                <P>Many more features to come!</P>
            </div>
            <div>
                <h2>Coming Soon</h2>
            </div>
            <div>
                <ul>
                    <li>Graphs showing ability changes over time</li>
                    
                </ul>
            </div>
            <h2>
                RECENTLY ADDED FEATURES
            </h2>
            <div>
                <ul>
                    <li>Upload photos and videos to climbs</li>
                    <li>Edit climb details after creation</li>
                </ul>
            </div>

            <div>
                <a href="/user/my_tracker" class="btn btn-primary">Go to Dashboard</a>
            </div>
        </div>
    </div>

</body>
</html>
{% endblock %}